/*
font related paramters
*/

@import "../../../theme/FontsTheme.scss";
/*
Color related parameters
*/
@import "../../../theme/ColorTheme.scss";
/*
Image related configurations
*/
@import "../../../theme/ImageTheme.scss";
$avatar-width: 20;
/* 
Buttons
*/
@import "../../../theme/Button.scss";
/*
General variables 
*/
@import "../../../theme/General.scss";
@import "../../../theme/Inputs_Theme.scss";
  
.text1 {
    @include centerContent();
    font-family: $font-family-2;
    font-size: $font-size-XL;
    font-weight: $font-weight-bold;
    line-height: 60px;
    color: #212121;
    position: relative;
    top: 40px;
}
  
.text2 {
  @include centerContent();
    font-family: $font-family-2;
    font-size: $font-size-S;
    color: $font-color-gray;
    position: relative;
    top: 40px;
}

.imagenpos1 {
  position: relative;
  top: 35px;
}

.imagenpos2 {
  position: relative;
  top: 50px;
}

.buttonDiv {
  margin-top: 5vh;
  width: 100%;
  @include centerContent {
    align-content: space-between;
    flex-direction: column;
  }
  font-size: $font-size-S;
}


.btnTramitar {
  @extend .btnMediumRound;
  position: fixed;
  bottom: 5vh;
}

.btnTramitar-mango {
  @extend .btnMediumRound-mango;
  position: fixed;
  bottom: 5vh;
}

.btnTramitar-miquel {
  @extend .btnMediumRound;
  position: fixed;
  bottom: 5vh;
  background-color: $color-primary-contrast-miquel;
}



