<ion-header>
</ion-header>
<ion-content>
    <!-- <div class="popUp">
        <img src="../../../assets/imgs/signo-de-exclamacion.png" alt="" srcset="">
        <h6>NOTIFICACION:El cliente ROBERTO PEREIRA acaba de aparcar en el slot 67.Matricula Nº 1148 KFC</h6>
    </div> -->
    <div class="primero">
      <img class="menu" src="../../../assets/imgs/menu_icon/opciones.png" alt="" srcset="">
      <img class="logo" src="../../../assets/imgs/logo_mercadona.png" alt="" srcset=""> 
    </div>
    <div class="info_empleado">
        <img src="../../../assets/imgs/user.png" alt="" srcset="">
        <h1>German,W.P</h1>
        <h3>Cod.Empleado: 01AB15075</h3>
        <div class="search">
          <img src="../../../assets/imgs/Style.png" alt="" srcset="">
          <input class="input_search" type="text" placeholder="Código Orden">
        </div>
        <p><span>Informacion</span><br>
            Para  tener un optimo escaneo del código QR
            por favor centre la imagen con la camara.
            En caso de no encontrar dicho código,
            por favor contacte con Servicio Técnico.
        </p>
    </div>
    <div class="qr">
      <h5>Codigo Terminal:TAB15BBAR</h5>
      <img src="../../../assets/imgs/qr.png" alt="" srcset="">
      <button>Scan QR</button>
    </div>
    <div class="listado">
      <h1>Listado de entrega</h1>
      <table>
        <tr class="fila_primera">
          <th>Nombre cliente</th>
          <th>Matricula</th>
          <th>Estado</th>
        </tr>
        <tr>
          <td>
            <img src="../../../assets/imgs/usuario_De_tabla.png" alt="" srcset="">
            Alfreds Futterkiste <br> Orden Nª 12222112211221121</td>
          <td>
            <img src="../../../assets/imgs/check.png" alt="" srcset="">
            6352KEP</td>
          <td class="estado">Pagado listo a entregar</td>
        </tr>
        <tr>
          <td>
            <img src="../../../assets/imgs/user.png" alt="" srcset="">
            Alfreds Futterkiste <br> Orden Nª 12222112211221121</td>
          <td>
            <img src="../../../assets/imgs/check_rojo.png" alt="" srcset="">
            6352KEP</td>
          <td class="estado">Pagado listo a entregar</td>
        </tr>
        <tr>
          <td>
            <img src="../../../assets/imgs/user.png" alt="" srcset="">
            Alfreds Futterkiste <br> Orden Nª 12222112211221121</td>
          <td>
            <img src="../../../assets/imgs/check_rojo.png" alt="" srcset="">
            6352KEP</td>
          <td class="estado">Pagado listo a entregar</td>
        </tr>
      </table>
    </div>
</ion-content>
