<body>
  <header>
    <ul>
      <li><a>Home</a></li>
      <li><a>News</a></li>
      <li><a>Contact</a></li>
      <li><a>About</a></li>
    </ul>
  </header>
  <div>
    <h1 class="title">Bienvenido Adam</h1>
    <p class="redborder">Acabaras Mal</p>
    <button>Secreto</button>
  </div>
  <div>
    <table>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
      </tr>
      <tr>
        <td>Jamie</td>
        <td>Vardy</td>
      </tr>
      <tr>
        <td>Jack</td>
        <td>Grealish</td>
      </tr>
      <tr>
        <td>Declan</td>
        <td>Rice</td>
      </tr>
      <tr>
        <td>Harry</td>
        <td>Maguire</td>
      </tr>
    </table>
  </div>
</body>
